@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #c7ecee;
    --secondary-color: #A96F44 ;
    --secondary-color-dark: gray;
    --text-dark: white;
    --text-light: black;
    --white: blck;
    --max-width: 1200px;
    --btn:#F2ECB6;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#hello{
    color: var(--secondary-color);

}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__title {
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
}

.section__title01 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
}

.section__title02 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
.section__title01 span {
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.section__subtitle {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

img {
    width: 100%;
}

/*.btn {*/
/*    padding: 1rem;*/
/*    font-size: 0.9rem;*/
/*    font-weight: 600;*/
/*    outline: none;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    color: var(--white);*/
/*    background-color: var(--secondary-color);*/
/*    cursor: pointer;*/
/*    transition: 0.3s;*/
/*}*/

/*.btn:hover {*/
/*    background-color: var(--btn);*/
/*}*/

a {
    text-decoration: none;
    color: var(--white);
}

body {
    /*color: var(--white);*/
    font-family: "Poppins", sans-serif;
}

.fade-in {
    opacity: 0.8;
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn {
    background-color: #A96F44;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #915006;
}

.social__icons {
    display: flex;
    gap: 10px;
}

.icon {
    font-size: 24px;
    color: #333;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #915006;
}
/* ----- NAVIGATION BAR ----- */
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    line-height: 90px;
    background-color: #A96F44;
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;
}
.nav-logo{
    position: relative;
}
.nav-name{
    font-size: 30px;
    font-weight: 600;
    color: var(--text-light);
}
.nav-logo span{
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 5em;
    color: var(--secondary-color);
}
.nav-menu, .nav_menu_list{
    display: flex;
}
.nav-menu .nav_list{
    list-style: none;
    position: relative;
}
.nav-link{
    text-decoration: none;
    color: var(--text-light);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}
.nav-menu-btn{
    display: none;
}
.nav-menu-btn i{
    font-size: 28px;
    cursor: pointer;
}

.active-link{
    position: relative;
    color: var(--text-light);

}
.active-link::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: var(--white);
    border-radius: 50%;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

header {
    height: 100vh;
    /*background-image: url("assets/images/background.jpg");*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.header__container p {
    color: var(--text-light);
    max-width: 400px;
    margin: 1rem 0;
}
.header__container p span {
    color: var(--white);
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    border-radius: 5px;
    margin-right: 1rem;
}
.header__container h1 {
    font-size: 3rem;
    line-height: 3rem;
}
.action__btns {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

@media (max-width: 578px) {

    .fade-in{
        font-size: 15px;

    }


}

@media (max-width: 768px) {

    .fade-in{
        font-size: 15px;

    }


}



.homePage {
    /*background-color:green;*/

}

.about{
    background: linear-gradient(to right bottom,#F2ECB6,#F2ECB6);
}

.project{
    background: linear-gradient(to right bottom,#F2ECB6,#F2ECB6);
}
.contact{
    background-color: var(--text-dark);
}
.about__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__image,
.about__content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about__image img {
    max-width: 350px;
    border-radius: 20px;
}

.about__details {
    padding: 2rem 0;
    color: var(--text-light);
    text-align: center;
}

.service,
footer {
    background-color: var(--white);
}

.service__grid{
    display: grid;
    grid-template-columns: repeat(1,2fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1rem;
}


@media (max-width: 578px) {
    .service__grid{
        display: grid;
        grid-template-columns: repeat(1,2fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-gap: 1rem;
        padding: 1rem 10px;
        font-size: 1rem;
    }


}

@media (max-width: 768px) {
    .service__grid{
        display: grid;
        grid-template-columns: repeat(1,2fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-gap: 1rem;
        padding: 1rem 1px;
        font-size: 1rem;
    }


}

.project__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-top: 3.5rem;
}

.service__card {
    display: grid;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--text-dark);
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 15px 15px;
}

.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.skill-title h3{
    color: black;
    margin: 0.5rem;
}
.img{
    width: 90px;
    height: 90px;
    position: relative;
    justify-content: center;
    align-items: center;
}




.project__card {
    display: grid;
    place-content: center;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    border: 0.1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 15px 15px;
}

.project__card img {
    transition: scale 0.3s;
}

.project__card:hover img {
    scale: 1.1;
}

.name{
    text-align: center;
    font-weight: bold;
}
.footer__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer__details {
    font-size: 0.8rem;
    color: var(--text-light);
    margin: 2rem 0;
    display: grid;
    gap: 1rem;
}

.social__icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social__icons .icon {
    padding: 0.5rem;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--secondary-color);
    transition: 0.3s;
    cursor: pointer;
}

.social__icons .icon:hover {
    background-color: var(--btn);
}

.footer__form {
    display: grid;
    gap: 1rem;
}

.footer__form :is(input, textarea) {
    padding: 1rem;
    background-color: var(--white);
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    color: var(--white);
}

.footer__form textarea {
    resize: none;
    font-family: "Poppins", sans-serif;
}

.footer__form button {
    width: max-content;
}

/* Media queries */
@media (max-width: 768px) {
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav_menu_list{
        position: fixed;
        left: -100%;
        top: 0;
        gap: 0;
        flex-direction: column;
        background-color: #F2ECB6;
        opacity: 90%;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav_list{
        margin: 16px 0;
    }
    .nav_menu_list.active{
        left: 0;
    }
}

@media (min-width: 640px) {

    .section__title {
        font-size: 2.5rem;
    }

    .header__container p {
        margin: 2rem 0;
    }

    .header__container h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    .action__btns {
        gap: 2rem;
    }

    .about__container {
        flex-direction: row;
    }

    .about__content {
        align-items: flex-start;
    }

    .about__details {
        text-align: left;
    }

    .service__grid,
    .project__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 768px) {
    .nav-menu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header__container h1 {
        font-size: 5rem;
        line-height: 5rem;
    }

    .service__grid,
    .project__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

footer{
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
    padding-bottom: 20px;
}

.copy{
    text-align: center;
    color: white;
    margin-top: 20px;
}

@media only screen and (max-width:767px){
    .heading{
        text-align: left;
    }
    .square{
        padding: 0px 30px !important;
        margin-top: 10px!important;
    }

    .p-list li , .l-list li , .contact li{
        text-align: left;
    }
    .social-media{
        padding-left: 0!important;
    }

    .social-media li{
        margin: 5px;
    }
}